# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.# dependencies

node_modules
/.pnp
.pnp.js

# testing outputs
coverage

# production
build

# macOS filesyste
.DS_Store

# environment variables
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# server-specific files
.secret*
*postman_collection*
scripts/output
prisma/migrations